{% extends "base.html" %}
{% block title %}
   Password Reset Done
{% endblock title %}
{% block content %}

<section id="resetpwd">
    <div class="container my-4 py-3">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h6 class="display-6">Password reset complete</h6>
                    </div>
                    <div class="card-body">
                        <p class="lead my-2"> Your Password has been set. You may go ahead and login.</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'login' %}">Return to home page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}