{% extends "base.html" %}
{% block title %}
   Password Sent
{% endblock title %}
{% block content %}

<section id="resetpwd">
    <div class="container my-4 py-3">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h6 class="display-6">Password Sent</h6>
                    </div>
                    <div class="card-body">
                        <p class="lead my-2">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<br></p>
                        <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'index' %}">Return to home page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}