{% extends "base.html" %}
{% block title %}
  Reset Password
{% endblock title %}
{% block content %}

<section id="resetpwd">
    <div class="container my-4 py-3">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h6 class="display-6">Password reset</h6>
                    </div>
                    <div class="card-body">
                        <p class="lead">Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.
                        </p>
    
                        <form action="" method="post">
                            {% csrf_token %}
                            {{form.as_p}}
                            <div class="my-3">
                                <button type="submit" class="btn btn-info">Reset my password</button>
                            </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}